body {
    margin: 0;
    text-align: center;
    overflow: hidden;
}

#myVideo {
    position: absolute;
    width: 320px;
    height: 240px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}


#heightInfo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    border-bottom: 3px solid white;
    width: 100%;
}

